* {
  font-family: "Prompt", sans-serif;

}

.box-container {
  position: absolute;
  left:-30px;
  top: 20px;
  width: 400px;
  height: 95vh;
  background: white;
  border: 0.2em #97fcf7;
  border-style: solid;
  border-radius: 2rem;
}

.box-title {
  position: absolute;
  display: flex;
  font-family: "Prompt", sans-serif;
  font-size: 40px;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -40%);
  background: linear-gradient(to right, #20bfd0 0%, #8776ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.tab-list-container {
  position: absolute;
  left: 2%;
  top: 5%;
  overflow: auto;
  max-height: 92%;
  width: 83%;
  z-index: 5;
  padding-right: 10px;
  mask-image: linear-gradient(to bottom, transparent, white 50px, white);
}

.tab {
  color: #1671e9;
  font-size: 20px;
}

.tab:hover {
  color: #8776ff;
  cursor: pointer;
  background-color: rgb(252, 243, 255);
  font-size: 23px;
}

.breakout-container {
  position: absolute;
  left: 110%;
  top: 5%;
  width: 300px;
  height: 70vh;
  background: white;
  border: 0.2em #97fcf7;
  border-style: solid;
  border-radius: 2rem;
  z-index: 5;
}

.breakout-menu-header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  left: 5%;
}

.breakout-menu-container {
  position: absolute;
  top: 8%;
  overflow-wrap: break-word;
  width: 93%;
  height: 90%;
  padding-left: 10px;
  text-align: center;
}

p {
  font-size: 20px;
  background: rgb(215, 247, 255);
  border: 0.1em #97fcf7;
  border-style: solid;
  border-radius: 1rem;
}

.breakout-menu-item-container {
  padding-left: 0px;
}

.exit {
  position: absolute;
  right: 0%;
  top: 30%;
  height: 1.5rem;
  background-color: #a5fffb;
  border-color: #8776ff;
  border-radius: 5px;
  cursor: pointer;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  width: 40px;
  text-align: center;
}

.exit:hover {
  background-color: lightslategray;
}