* {
  font-family: "Prompt", sans-serif;

}

.box-container {
  position: absolute;
  width: 400px;
  height: 100%;
  background: rgba(253, 251, 251, 0.89);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 50px 15px;
}

.box-container > * {
  display: flex;
}

.box-title-container {
  grid-row: 1;
  display: flex;
}

.box-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 65px;
  font-style: italic;
  z-index: 3;
  background-image: linear-gradient(to right, #20bfd0 0%, #8776ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box-icons-container {
  grid-row: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translate(0%,-40%);
}

.box-icons {
  display: flex;
  width: 40%;
  height: 50%;
  justify-content: center;
}

.icon {
  display: flex;
  height: 30px;
  width: auto;
}

.icon_text {
  display: flex;
  text-decoration: none;
  color: black;
  transform: translate(-25%, -50%);
}

h2 {
  font-size: 15px;
  width: 100%;
}

hr {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
  width: 90%;
  height: 0.5px;
  background-color: black;
}

h1 {
  position: absolute;
  grid-row: 3;
  width: 100%;
  justify-content: center;
}

.info-tabs-container {
  grid-row: 4;
  position: absolute;
  height: 100%;
  width: 95%;
  transform: translate(3%, 0.5px);
  z-index: 4;
  background: rgba(9, 91, 255, 0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tab-list-container {
  position: absolute;
  overflow: auto;
  height: 90%;
  width: 90%;
  transform: translate(-5%, 8%);
}

.tab-list-container::-webkit-scrollbar {
  width: 8px;
}

.tab-list-container::-webkit-scrollbar-thumb {
  background: #8776ff; 
  border-radius: 10px;

}

.tab {
  color: #1671e9;
  font-size: 20px;
}

.tab:hover {
  color: #8776ff;
  cursor: pointer;
  font-size: 23px;
}
/*
@keyframes title-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .box-title-container {
    animation: title-fade-out 0.5s forwards;
  }
}

@media (min-width: 900px) {
  .box-title-container {
    animation: title-fade-in 0.5s backwards;
  }
}
*/
