@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.title {
    font-family: 'Open Sans', san-serif;
    color: #8776ff;
    position: absolute;
    z-index: 3;
    top: 16%;
    right: 4.5rem;
    width: 270px;
    text-decoration: underline;
}

h3.restaurant-li {
  font-family: 'Open Sans', san-serif;
  font-weight: bold;
  color: black;
  border-radius:3px;
  padding-left: 2px;
}

h3.restaurant-li:hover {
  color: #8776ff;
  cursor: pointer;
  background-color: lightgrey;
}

.list {
  font-family: 'Open Sans', san-serif;
  position: absolute;
  z-index: 3;
  top: 25%;
  right: 6rem;
  max-height: 60vh;
  overflow: auto;
  width: 260px;
}

.dropdown {
    margin-left: 7px;
}

.Menu {
  max-width: 60vw;
  max-height: 40vh;
  transform: translate(-5%, -5%);
  overflow: auto;
}

.exit {
  height: 1.5rem;
  border-color: #8776ff;
  border-radius:5px;
  cursor: pointer;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.exit:hover {
  background-color: lightgrey;
}

.menuItem0 {
  list-style-type: none;
  z-index: 3;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0.5rem;
  background-color: white;
}

.menuItem1 {
  list-style-type: none;
  z-index: 3;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0.5rem;
  background-color: #f9ffbb;
}

.menuItem2 {
  list-style-type: none;
  z-index: 3;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0.5rem;
  background-color: #fcff4d;
}

.menuItem3 {
  list-style-type: none;
  z-index: 3;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0.5rem;
  background-color: #ff631b;
}

.menuItem4 {
  list-style-type: none;
  z-index: 3;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0.5rem;
  background-color: #ff3f3f;
}

