.navbar-container {
  width: 450px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  background-color: white;
  height: 80px;
}

.navbar-logo-container {
  display: flex;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.navbar-logo {
  height: 5vh;
  width: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .navbar-logo {
    animation-name: navbar-logo-pulse;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}

@keyframes navbar-logo-pulse {
  from {
    transform-origin: center;
    transform: scale(2.075, 2.075);
  }
  to {
    transform-origin: center;
    transform: scale(1.9, 1.9);
  }
}

.button-container {
  display: flex;
  position: absolute;
  left: 50%;
  top: 112%;
  transform: translate(-50%, -50%);
}

.collapsed {
  transform: translate(-50%, -100%);
}
