.index-title {
  position: absolute;
  left: 30px;
  z-index: 5;
  font-family: "Prompt", sans-serif;
  font-size: calc(15px + 2vmin);
  background: linear-gradient(to right, #20bfd0 0%, #8776ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
